* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.web-food {
  overflow: hidden;
  position: relative;
}

$color-red: #df2020;
$background-red: #fde4e4;
$color-black: #333;

// scss header
@import "components/Layout/Header/header";
// scss footer
@import "components/Layout/Footer/footer";
// scss banner
@import "components/Layout/Banner/banner";
// scss admin header
@import "components/Layout/Admin/Header/header";
// scss admin table
@import "components/Layout/Admin/Table/table";
// scss ui cart product
@import "components/UI/CartProduct/cartProduct";
// scss ui form
@import "components/UI/Form/form";
// scss home
@import "components/Home/home";
// scss all-foods
@import "components/AllFoods/allFoods";
// scss food-detail
@import "components/FoodDetail/fooddetail";
// scss login
@import "components/Login/login";
// scss cart page
@import "components/Cart/cart";
// scss checkout page
@import "components/CheckOut/checkout";
