// respositive 1000,700,650-320
@media (max-width: 1200px) {
  .home {
    .home-category .category-chill {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      .category-item {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 1000px) {
  .home {
    padding: 100px 50px;
  }
}
@media (max-width: 900px) {
  .home {
    &-chill {
      flex-direction: column;
      .home-data {
        .data-text {
          text-align: center;
        }
        .data-btns {
          justify-content: center;
        }
        .data-service {
          justify-content: center;
        }
      }
    }
    &-network {
      flex-direction: column;
      .testimonial {
        width: 100%;
        .testimonial__subtitle {
          text-align: center;
        }
        .testimonial__title {
          text-align: center;
        }
        .testimonial__desc {
          text-align: center;
        }
        .network-user {
          .user-item {
            .user-image {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .home {
    padding: 100px 30px;
    .home-feature .feature-chill .feature-data {
      flex-wrap: wrap;
      justify-content: center;
    }
    .home-why {
      flex-direction: column;
    }
  }
}
@media (min-width: 320px) and (max-width: 650px) {
  .home {
    padding: 100px 10px;
    .home-chill {
      .home-image .hero-image img {
        width: 100%;
      }
      .home-data .data-service {
        flex-direction: column;
      }
    }
    .home-category .category-chill .category-item {
      width: 100%;
    }
    .home-product .foods-category {
      flex-direction: column;
    }
    .home-pizza .pizza-card {
      .slick-prev {
        left: 12px;
        z-index: 1;
      }
      .slick-next {
        right: 5px;
      }
    }
  }
}
