// respositive 1000,700,650-320
@media (max-width: 1200px) {
  .home {
    .home-category .category-chill {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      .category-item {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 1000px) {
  .home {
    padding: 20px 50px;
  }
}
@media (max-width: 900px) {
  .home {
    &-chill {
      flex-direction: column;
    }
  }
}
@media (max-width: 700px) {
  .home {
    padding: 30px;
  }
}
@media (min-width: 320px) and (max-width: 650px) {
  .home {
    padding: 30px 10px;
    .home-chill {
      .home-image .hero-image img {
        width: 100%;
      }
      .home-data .data-service {
        flex-direction: column;
        align-items: normal;
      }
    }
    .home-category .category-chill .category-item {
      width: 100%;
    }
  }
}
