.header {
  background: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  &-chill {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-image {
        img {
          object-fit: cover;
          width: 50px;
          height: auto;
        }
      }
      .logo-text {
        .text {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .header-link {
      .link-are {
        display: flex;
        gap: 20px;
        .link {
          text-decoration: none;
          color: black;
          &.open {
            color: $color-red;
          }
        }
      }
    }
    .header-info {
      display: flex;
      gap: 30px;
      .info-cart {
        position: relative;
        cursor: pointer;
        span {
          background: $color-red;
          color: white;
          width: 100%;
          height: auto;
          text-align: center;
          border-radius: 10px;
          position: absolute;
          top: 0;
          transform: translateY(-10px);
        }
      }
      .info-bar {
        display: none;
      }
    }
  }
}
.menu-bar {
  transform: translateX(300px);
  transition: all 1s ease-out;
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: rgb(237, 241, 241);
  .bar-are {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .link {
      color: black;
      text-decoration: none;
      &.open {
        color: $color-red;
      }
    }
  }
  .bar-close {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 25px;
  }
  &.open {
    transform: translateX(0px);
  }
}
.shopping-cart {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0px 0px 8px 0px #aaa;
  background: white;
  transform: translateX(300px);
  transition: all 1s ease-out;
  &.open {
    transform: translateX(0px);
  }
  .cart-chill {
    .button-close {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(5px, 5px);
      cursor: pointer;
    }
    .card {
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      height: 645px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 123, 0, 0.719);
        border-radius: 10px;
      }
      &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .data-item {
          display: flex;
          align-items: center;
          gap: 15px;
          .image-item {
            img {
              object-fit: cover;
              width: 30px;
              height: auto;
            }
          }
        }
        .item-price {
          text-align: center;
          p {
            font-size: 20px;
            font-weight: 700;
            color: $color-red;
          }
        }
        .quatity-item {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          span {
            font-size: 20px;
            font-weight: 700;
          }
          i {
            cursor: pointer;
            &:first-child {
              color: rgba(94, 255, 0, 0.514);
            }
            &:last-child {
              color: rgba(255, 0, 0, 0.575);
            }
          }
        }
      }
    }
    .total-price {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: $color-red;
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price {
        h5 {
          font-size: 20px;
          color: white;
          span {
            font-size: 15px;
          }
        }
      }
      .checkout {
        background: white;
        padding: 5px 10px;
        a {
          color: $color-red;
          text-decoration: none;
          font-size: 20px;
        }
      }
    }
  }
}

@import "respositive";
