@media (max-width: 1000px) {
  .header-chill {
    padding: 10px 50px;
  }
}
@media (max-width: 700px) {
  .header-chill {
    padding: 10px 30px;
  }
}
@media (min-width: 320px) and (max-width: 650px) {
  .header-chill {
    padding: 10px;
    .header-link {
      display: none;
    }
    .header-info {
      .info-bar {
        display: block;
      }
    }
  }
}
