/*respositive
1000:100,50,
700:100,30,
650-320:100,10
*/
@media (max-width: 1000px) {
  .login-page {
    padding: 100px 50px;
  }
}
@media (max-width: 700px) {
  .login-page {
    padding: 100px 30px;
  }
}
@media (min-width: 320px) and (max-width: 650px) {
  .login-page {
    padding: 100px 10px;
  }
}
