.food-detail {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &-chill {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    &-images {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      .images-item {
        img {
          cursor: pointer;
          object-fit: cover;
          width: 100px;
          height: auto;
        }
      }
    }
    &-image {
      img {
        object-fit: cover;
        width: 400px;
        height: auto;
      }
    }
    &-information {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .information-name {
        p {
          font-size: 25px;
          font-weight: 600;
        }
      }
      .information-price {
        p {
          font-size: 20px;
          span {
            font-size: 25px;
            font-weight: 600;
          }
        }
      }
      .information-category {
        p {
          font-size: 20px;
          span {
            font-size: 25px;
            font-weight: 600;
          }
        }
      }
      .information-button {
        .add-to-cart {
          cursor: pointer;
          border: none;
          padding: 7px 25px;
          background: #df2020;
          color: #fff;
          border-radius: 5px;
          font-size: 0.9rem;
        }
      }
    }
  }
  &-context {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .context-text {
      display: flex;
      gap: 20px;
      h3 {
        cursor: pointer;
        &.show {
          color: #df2020;
        }
      }
    }
    .context-review {
      .review {
        display: flex;
        gap: 30px;
        align-items: center;
        .image-user {
          img {
            object-fit: cover;
            width: 100px;
            height: auto;
          }
        }
        form {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 30px;
          .form-controll {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            textarea {
              width: 100%;
              height: 200px;
              padding: 15px;
              outline: none;
            }
            span {
              color: #df2020;
            }
          }
          button {
            cursor: pointer;
            border: none;
            padding: 10px 20px;
            background: #df2020;
            color: #fff;
            &:hover {
              background: #df2020d2;
            }
          }
        }
      }
      .review-all {
        display: flex;
        flex-direction: column;
        gap: 25px;
        h2 {
          padding: 10px 0;
          text-align: center;
        }
        .item {
          display: flex;
          gap: 20px;
          align-items: center;
          .user-image {
            img {
              object-fit: cover;
              width: 50px;
              height: auto;
            }
          }
        }
      }
    }
  }
  &-category {
    h2 {
      padding: 10px 0;
    }
  }
}
@import "respositive";
