.product-foods {
  --template-column-gutters: 16px;
  --template-columns: 4;
  --template-column-compact-multiplier: 1;
  --template-reduced-columns: 0;
  --template-reduced-columns-multiplier: 1;
  display: grid;
  grid-gap: var(--template-column-gutters);
  gap: var(--template-column-gutters);
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: repeat(
    calc(
      var(--template-columns) - var(--template-reduced-columns) *
        var(--template-reduced-columns-multiplier)
    ),
    minmax(0, 1fr)
  );
  .foods-cart {
    border: 1px solid #fde4e4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .foods-image {
      img {
        object-fit: cover;
        width: 150px;
        height: auto;
        transition: 0.4s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .foods-content {
      h5 {
        text-align: center;
        margin-bottom: 30px;
        a {
          text-decoration: none;
          color: #212245;
          font-size: 1rem;
          cursor: pointer;
        }
      }
      .button {
        display: flex;
        align-items: center;
        gap: 30px;
        .product-price {
          font-weight: 600;
          font-size: 1.2rem;
          color: #df2020;
        }
        .add-to-cart {
          cursor: pointer;
          border: none;
          padding: 7px 25px;
          background: #df2020;
          color: #fff;
          border-radius: 5px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
@import "respositive";
